@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme inline {
  --color-bg: var(--bg);
  --color-fg: var(--fg);
}
:root {
  --bg: #ffffff;
  --fg: #000000;
}
.dark {
  --bg: #0a0a0a;
  --fg: #ffffff;
}
body {
  background: var(--color-bg);
  color: var(--color-fg);
  margin: 1rem;
  transition: background 0.3s, color 0.3s;
}
